<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content">
                    <p class="mb-3">Address: 12525 Beverly Blvd, Whittier, CA 90601</p>
                    <a href="tel:+15628320444" class="text-red">(562) 832-0444</a> 
                    <span>|</span>
                    <a href="" class="text-red">2nsspa@gmail.com</a>
                    <div class="pt-3 pb-3">
                        <div class="row">
                            <div class="col-12 text-center">{time_1}</div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">{time_2}</div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">[Sun] 10:00 AM - 6:00 PM</div>
                        </div>
                    </div>
                    <p class="mb-3">
                        Copyright &copy; 2022 <a href=""><b>2NS Nails And Spa </b></a> Dev by <a rel="nofollow noopener" href="https://www.lldtek.com" target="_blank"><b>LLDTEK</b></a>
                    </p>
                    <div class="col-md-12">
                        <div class="center-content">
                            <ul class="social-icons">
                                <li><a href="" target="_blank" data-facebook><i
                                        class="fa fa-facebook"></i></a></li>
                                <li><a href="" target="_blank" data-instagram ><i
                                        class="fa fa-instagram"></i></a></li>
                                <li><a href="" target="_blank" data-google><i
                                        class="fa fa-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>